frontend/node_modules/
frontend/dist/
backend/**/bin/
backend/**/obj/
backend/.vs/
backend/.dotnet/
backend/.dotnet-cli/
backend/**/.dotnet/
backend/**/.keys/
.env
.env.*
**/appsettings.Development.json
backend/JkuatHospitalApi/appsettings.Development.json
.DS_Store
Thumbs.db
